body, html {
    width:100%;
    height:100%;
}

body {
    padding-top: 50px;
}

footer{
    text-align: right;
}

#map {
    min-height: 400px;
}

#timeline {
    min-height: 150px;
}

/* map legend */
.legend {
    line-height: 10px;
    color: #555;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* map markers */
.mapMarker {
    stroke: none;
    fill-opacity: 0.3;
}

.mapMarker:hover {
    stroke: orange;
    fill-opacity: 1;
}

.origin {
	fill: #3AB1CF;
  	/*background: hsla(187.6,76.5%,36.7%,1);*/
}

.destination {
	fill: #434343;
  	/*background: hsla(40.9,96.3%,57.3%,1);*/
}

/* timeline design */
.xaxis line {
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.axislabel {
    fill: #333;
}

.xaxis text {
	/*font-size: 9px;*/
    fill: #333;
}

rect:hover {
    stroke: orange;
    stroke-width: 2px;
}

/* scale chart with on window resize */
.chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.chart-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}