body, html {
    width:100%;
    height:100%;
}

body {
    padding-top: 50px;
}

footer{
    text-align: right;
}

#map {
    min-height: 450px;
}

#timeline {
    min-height: 150px;
}

#colorscheme {
    min-width: 100px;
}

/* toolbar adjustments */
.toolbar {
    margin:5px 0!important;
}

.toolbar > .btn {
    margin-right:5px;
}

/* map markers */
.mapMarker {
    border: none;
}

.mapMarker:hover {
    border: 2px solid orange;
}

.origin {
    fill: #29fbb8;
  	background-color: hsla(161.1,96.6%,34.1%,0.5);
    background: hsla(161.1,96.6%,34.1%,0.5);
    border-radius: 50px;
}

.destination {
    fill: #424242;
  	background-color: hsla(0,0%,25.9%,0.4);
    background: hsla(0,0%,25.9%,0.4);
}

.ext_icon {
    opacity: 0.7;
}

/* map legend */
.legend {
    line-height: 10px;
    color: #555;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
}

.leaflet-control-minZoomIndicator {
    font-size: 1em;
    background: #ffffff;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 1px 15px;
    opacity: 0.5;
}

/* timeline design */
.xaxis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axislabel {
    fill: #333;
}

.xaxis text {
    fill: #333;
}

rect:hover,
.selected {
    stroke: orange;
    stroke-width: 2px;
}

/* scale chart on window resize */
.chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 150px;
    padding-bottom: 30%;
    vertical-align: top;
    overflow: hidden;
}
.chart-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* some properties apply to svg and are therefore indicated as errors by the CSS validator*/